{% extends './basic.html' %}


{% block content %}

<style>








.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}
</style>


<main id="main" class="main">

    <div class="pagetitle">
        <h1>User Salient Feature Page</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Education:admin_show' %}">Dashboard</a></li>

                <li class="breadcrumb-item active">User Salient Features Page</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->




    <section class="section">
      <div class="row">

          <div class="col-lg-12">

              <div class="card ">
                  <div class="card-body">
                      <!-- <h5 class="card-title">Vertically Centered</h5>
                      <p>Add <code>.modal-dialog-centered</code> to <code>.modal-dialog</code> to vertically center
                          the modal.</p> -->

                      <!-- Vertically centered Modal -->
                      <button type="button" class="btn btn-primary mt-3 " data-bs-toggle="modal"
                          data-bs-target="#verticalycentered">
                          Add Salient Feature
                      </button>
                      <div class="modal fade" id="verticalycentered" tabindex="-1">
                          <div class="modal-dialog modal-lg">
                              <form method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <div class="modal-content">
                                      <div class="modal-body ">
                                          <div class="col-lg-12">

                                              <div class="card">
                                                  <div class="card-body">
                                                      <h5 class="card-title">Add Salient Feature Page</h5>

                                                      <!-- General Form Elements -->
                                                      <div class="row">
                                                        <div class="col-md-12 mb-3">
                                                          <label for="inputNumber"
                                                              class="col-sm-12 col-form-label">
                                                              Description</label>
                                                          <div class="col-sm-12">
                                                              <textarea id="editor" name="editor"></textarea>
                                                          </div>
                                                      </div>



                                                      </div>

                                                  </div>
                                              </div>

                                          </div>

                                      </div>

                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary"
                                              data-bs-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                              </form><!-- End General Form Elements -->
                          </div>
                      </div>
                  </div><!-- End Vertically centered Modal-->





              </div>
          </div>



      </div>
      </div>
      <div class="row">
          <div class="col-lg-12">

              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title"> User Salient Features Page</h5>

                      <!-- Table with stripped rows -->
                      <table class="table datatable">
                          <thead>
                              <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Description</th>
    <th scope="col">Date</th>
                                  <th scope="col" colspan="2" class="text-center">Action</th>
                              </tr>
                          </thead>
                          <tbody>

                              {% if user_f %}
                              {% for m in user_f %}

                              <tr>
                                  <th scope="row">{{forloop.counter}}</th>
                                  <td><a href="{{m.banner_link_website}}" target="_blank">{{m.features|safe|slice:"0:100"}}</a></td>
                                  <td>{{m.date}}</td>

                                  <td> <button type="button" class="btn btn-success " data-bs-toggle="modal"
                                          data-bs-target="#verticalycentered_update">
                                          Update
                                      </button></td>
                                  <td> <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                          data-bs-target="#verticalycentered_update">
                                          Deactive
                                      </button></td>
                              </tr>
                              {% endfor %}
                              {% endif %}


                          </tbody>
                      </table>
                      <!-- End Table with stripped rows -->

                  </div>
              </div>

          </div>
      </div>
  </section>


</main><!-- End #main -->
{% endblock %}